  <div class="footer">
        <div>
         <h2>İnstagram :<a href="https://www.instagram.com/serhat.khrmn/">serhat.khrmn</a> </h2>
         <h2>Twitter :<a href="https://www.instagram.com/serhat.khrmn/">serhat_khrmn</a> </h2>
         <h2>Facebook :<a href="https://www.instagram.com/serhat.khrmn/">serhatk_</a> </h2>
        </div>
        <div>
          Lorem  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio possimus repellat exercitationem beatae eaque numquam quia ullam, dicta nam mollitia suscipit vitae quisquam sequi dolor nostrum reprehenderit aliquid vero reiciendis?ipsum doLibero voluptatibus hic provident dicta necessitatibus doloribus eum minima debitis dolorem impedit reprehenderit quos labore officiis, cumque enim atque voluptate? Quod, iusto. 
        </div>
          <div>
        <p style="padding-left: 40px;">İletişim Bilgileri : </p>
        <h3 style="padding-left: 50px;">Tel No :544 313 16 56</h3>
        <h3 style="padding-left: 50px;">Mail :kahramanserhat43@gmail.com </h3>
       
      </div>
        </div>
        