    <div class="sidenav">
        <a href="#">Aksiyon Filmleri</a>
        <a href="#">Macera Filmleri</a>
        <a href="#">Bilim-Kurgu Filmleri</a>
        <a href="#">Belgesel Filmleri </a>
        <a href="#">Gerilim Filmleri</a>
        <a href="#">Korku Filmleri</a>
        <a href="#">Gizem Filmleri</a>  
        <a href="#">Polisiye Fİlmleri</a>
        <a href="#">TarihiFilmler</a>
        <a href="#">Komedi Filmleri</a>  
       <hr>
        <br>
         
      </div>