/* Add a black background color to the top navigation */

body {
    background-color: rgb(19, 22, 25);
}
.sayfa  {
    height: auto;
    width: 80%;
    margin: auto;
}

/*------------------TOPNAV--------------------*/
.topnav {
    background: rgb(33, 37, 41);
    height: 85px;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 1px;
    box-shadow: 1px 1px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
  
  .navbarbutton {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin:auto;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    font-size: 22px;
    font-weight: bold ;
    border-radius:20px ;
    transition: 0.2s all;
  }
  
  .navbarbutton:hover {
    background-color: rgba(221, 221, 221, 0);
    color: black;
  }
  
 .mainsearch{
   font-size: 16px;
   color: rgb(255, 255, 255);
   
 }

  #logo{
    width: 175px;
    height: 62px;
  }

  /*------------------------------------------------------*/
  
  .slide{
    background-color: #2e2e2e;
    color: #ff14d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #212529;;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    
  }
  
  
  .trend img{
 
    height: 60px;
    width: 70px;
    border-radius: 100%;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 3px black;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
 
  /*------------------SİDE NAV--------------------*/
  .sidenav {
    float: left;
    height: auto;
    width: 160px;
    background-color:rgb(33, 37, 41);
    overflow-x: hidden;
    padding-top: 20px;
    margin-right: 20px;
    margin-top: 0.2px;
    border-bottom-left-radius: 20px;

  }
  
  .sidenav a {
    padding: 45px 15px 45px 15px;
    text-decoration: none;
    font-size: medium;
    text-align: center;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    border: 50px, #ff14d8;
    color: #ffffff;
    background-color: rgb(88, 88, 88);
  }
 
  

  .sidenav h2{
    color: #ff62f7;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: x-large;
    font-style: italic;
    padding: 7px;;  
  }
 
  /*--------------------------------------------------------*/
  .main {
     background-color: rgb(25, 29, 32);
    margin-left: 160px; 
    font-size: 28px; 
    padding: 10px;
    height: auto;

  }
  .main1{
    background-color: rgb(25, 29, 32);
    padding: auto;
    font-size: 28px; 
    padding: 10px;
    margin-top: 8px;
    height: auto;
    border-radius: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*---------- FİLM İSİM GÖZÜKMESİ -------------------*/
* {box-sizing: border-box;}

.cover {
  display: inline-block;
  position: relative;
  width: 50%;
  max-width: 300px;
  margin: 15px;
}


.image {
  
  width: 300px;
  height: 220px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: auto;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.icerikler img {
  height: 400px;

}

.film:hover .overlay {
  opacity: 1;
}
/*----------------------- ----------- Film İçerik--------------------------*/
.filmicerik{

  height: auto;
}
.checked {
  color: orange;
}
.icerikgorseli{
 margin-left: 38%;
 margin-top: 30px;
 margin: bottom 20px;;

}
.icerikyazisi{
  margin-top: 50px;
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: #f1f1f1;
}
.icerikyazisi h1{
  padding-left: 600 px;
  
  color: #f1f1f1;
}

.rate {
  height: 46px;
  margin-right: 490px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/*-------------------FOOTER-------------------------------------*/
.footer{
  columns: 3;
  color: rgb(250, 250, 250);
  font-size: small;
  padding-left: 100px;
  padding: 50px;
  background-color: rgb(35, 40, 44);
    width: auto;
    height: auto ;
   border-radius: 50px;
}
.footer a {
  color: #f59393;
  padding-left: 6px;
  text-decoration: none;
  font-size: 20px;
}

/*-------------------TOPNAV DROPDOWN-------------------------------------*/


.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: rgb(0, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
  

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.navigation_bar li {
  list-style-type:none;}

.navigation_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation_bar li a:hover {
  background-color: #111;
}
.navigation_bar .active{
  background-color: #111;  
}