
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-form">
        <form action="/posts/test" method="POST" enctype="multipart/form-data">
          <h1>Film Ekle</h1>
          <div class="login">
            <div class="input-field">
                <input placeholder="Filmin İsmi" name="title">
              </div>
            <div class="input-field">
                <input placeholder="Açıklaması" name="content">
              </div>
              <div class="input-field">
                <input placeholder="Oyuncular" name="oyuncular">
              </div>
                <div class="input-field">
                <input  name="post_image" type="file">
              </div>
            
          </div>
          <div class="action">
            <button> Film Ekle</button>
          </div>
        </form>
      </div>

</body>
</html>

 