<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>
    <div class="login-form">
        <form>
          <h1>Giriş Yap</h1>
          <div class="login">
            <div class="input-field">
              <input type="email" name="email" placeholder="Mail Adresi">
            </div>
            <div class="input-field">
              <input type="password" name="password" placeholder="Şifre">
            </div>
            <a href="#" class="link">Şifremi Unuttum?</a>
          </div>
          <div class="action">
            <button  formaction="/users/kayit">Hesap Olustur</button>
               <button formaction="/users/giris" formmethod="POST" type="submit">Giriş Yap</button>
            
          </div>
        </form>
      </div>
     
</body>
</html>