<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
    <div class="login-form">
        <form action="/users/kayit" method="POST">
          <h1>Kayıt Ol</h1>
          <div class="login">
            <div class="input-field">
                <input placeholder="İsim" name="name">
              </div>
            <div class="input-field">
                <input placeholder="Soyisim" name="surname">
              </div>
            <div class="input-field">
              <input type="email" placeholder="Mail Adresi" name="email">
            </div>
            <div class="input-field">
              <input type="password" placeholder="Şifre" name="password">
            </div>
            
            <a href="#" class="link">Şifremi Unuttum?</a>
          </div>
          <div class="action">
            <button>Kayıt Ol</button>
          </div>
        </form>
      </div>
      {{>footer}}



 